@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<img src="https://bit.ly/3tofstZ" width="500" height="500" />
<p>Your details have been received by Administrators and your request will be reviewed and someone from our team will contact you within 2-3 business days.</p>
